.brightness{
    filter: brightness(50%);
} 

@media only screen and (max-width: 576px) {
    .carousel-inner p{
        font-size: 7px;
    }
    .carousel-inner h1{
        font-size: 20px;
    }

    .carousel-inner button{
        font-size: 14px;
    }
}